.fade-in {
	animation: fadeIn ease 0.01s;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	max-height: 808px;
	border-radius: 12px;
	justify-content: center;
	@keyframes fadeIn {
		0% {
			opacity: 0;
			scale: 0.7;
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}
}
